{
  "ecmaFeatures": {
    "modules":true,
    "blockBindings": true,
    "forOf": true,
    "jsx": true,
    "spread":true,
    "templateStrings":true,
    "generators":true,
    "destructuring":true,
    "classes":true,
    "defaultParams":true
  },
  "rules": {
    "semi": 2
  },
  "env":{
    "browser":true,
    "node":true,
    "mocha":true
  }
}